//Colores
$primary-color:     #6F4E37; //Fondo principal
$secondary-color:   #556B2F; //Iconos, botones secundarios y secciones relacionadas con el impacto ecológico
$tertiary-color:    #F5F5DC; //Fondo secundario
$emphasis-color:    #DAA520; //Destaca llamados a la acción (CTA), precios, bordes, detalles.
$text-color:        #FFFFFF; 
$details-color:     #2E2E2E; //Texto en areas claras, bordes, menus. 

//Tipografía
$primary-font:   'Playfair Display', serif; //Títulos
$secondary-font: 'Lato', sans-serif; //Cuerpo de textos
$button-font:    'Montserrat', sans-serif; //Botones



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

nav{
    background-color: $primary-color;
    width: auto;
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    p{
        font-family: $primary-font;
        font-size: 5rem ;
        padding: 1.5rem;
        color: $text-color;
    }

    .icons{
        display: flex;
        gap: 1.5rem ;
        button{
            background: none;
            border-style: none;

        }

        svg{
            color: $secondary-color;
            width: 3.6rem;
            height: 3.6rem;
        }
    }

}

main{
     background-color: $tertiary-color;
     width: 100vw;
     height: 80vh;
     article{
        color: $details-color;
        display: flex;
        width: auto;
        padding: 3.1rem;
        justify-content: space-between;
        .impact-section{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        h1{
            font-size: 3.5rem;
            font-family: $primary-font;
        }
        
        p{
            font-family: $secondary-font;
            font-size: 1.5rem;
        }

        button{
            width: 18vw;
            background-color: $tertiary-color;
            color: $emphasis-color;
            border-style: none;
            font-family: $button-font;
            font-size: 2rem;
        }
        img{
                width: 50vw;
                border-radius: 1.9rem;
            }
        }
     }
 

footer{
    background-color: $primary-color;
    width: 100vw;
    height: 10vh;
}