//Colores
$primary-color:     #6F4E37; //Fondo principal
$secondary-color:   #556B2F; //Iconos, botones secundarios y secciones relacionadas con el impacto ecológico
$tertiary-color:    #F5F5DC; //Fondo secundario
$emphasis-color:    #DAA520; //Destaca llamados a la acción (CTA), precios, bordes, detalles.
$text-color:        #FFFFFF; 
$details-color:     #2E2E2E; //Texto en areas claras, bordes, menus. 
$cards-color:       #D7B8A4;

//Tipografía
$primary-font:   'Playfair Display', serif; //Títulos
$secondary-font: 'Lato', sans-serif; //Cuerpo de textos
$button-font:    'Montserrat', sans-serif; //Botones



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

nav{
    background-color: $primary-color;
    width: 100%;
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    p{
        font-family: $primary-font;
        font-size: 5rem ;
        padding: 1.5rem;
        color: $text-color;
    }

    .icons{
        display: flex;
        gap: 1.5rem ;
        button{
            background: none;
            border-style: none;

        }

        svg{
            color: $secondary-color;
            width: 3.6rem;
            height: 3.6rem;
        }
    }

}

main{
     background-color: $tertiary-color;
     width: 100%;
     height: 80vh;
     article{
        color: $details-color;
        display: flex;
        width: auto;
        padding: 3.1rem;
        justify-content: space-between;
        .impact-section{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        h1{
            font-size: 3.5rem;
            font-family: $primary-font;
        }
        
        p{
            font-family: $secondary-font;
            font-size: 1.5rem;
        }

        button{
            width: 18vw;
            background-color: $tertiary-color;
            color: $emphasis-color;
            border-style: none;
            font-family: $button-font;
            font-size: 2rem;
        }
        img{
                width: 50vw;
                border-radius: 1.9rem;
            }
        }
     }
 
section{
    width: 100%;
    height: auto;
    padding: 3.1rem;
    background-color: $tertiary-color;
    h2{
        color: $emphasis-color;
        font-size: 1.7rem ;
        font-family: $button-font;
    }

    .cafe-molido{
        padding-left: 2rem;
        h2{
            font-weight: bolder;
            padding-bottom: 3rem;
        }
        .product-card{
            width: 30vw;
            height: auto;
            background-color: $cards-color;
            color: $details-color;
            padding: 2rem;
            border-radius: 0.8rem;
            position: relative;
            overflow: hidden;
            img{
                width: 22rem;
                height: 22rem;
                padding: 0.5rem;
                background-image: cover ;
                border-radius: 0.8rem;
            }
            svg{
                position: absolute;
                top: 0.5rem;
                right: 0.2rem;
                width: 2.8rem;
                height: 2.8rem;
            }
        }
    }
}

// footer{
//     background-color: $primary-color;
//     width: 100%;
//     height: 10vh;
// }